.site-buy {
  margin-top: 150px;
  text-align: center;
  margin-bottom: 130px;
}

.buy__text {
  font: Karla;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 2px;
  margin-bottom: 100px;
}

.buy__child{
    display: flex;
    gap: 80px;
}

.buy__child-imgl {
    margin-bottom: 15px;
}

.buy__premium-text {
    Font: Karla;
Font-weight: 400;
Font-size: 12px;
Letter-spacing: 2px;
Width: 116px;
Height: 18px;
Top: 0px;
Left: 0px;
margin-bottom: 15px;
}

.buy__premium-h3 {
    Font: Karla;
Font-weight: 400;
Font-size: 36px;
Letter-spacing: 0%;
Width: 237px;
Height: 100px;
Top: 32.5px;
Left: 0px;
text-align: start;
}

.buy__premium-p {
    Font: Karla;
Font-weight: 400;
Font-size: 16px;
Letter-spacing: 0%;
Width: 353px;
Height: 56px;
Top: 147.5px;
Left: 0px;
text-align: start;
margin-top: 15px;

}

.buy__premium-btn {
    Width: 173px;
Height: 36px;
Top: -9px;
Left: 0px;
Font: Karla;
Font-weight: 400;
Font-size: 12px;
Letter-spacing: 2px;
background-color: rgb(29, 31, 46);
color: rgb(255, 255, 255);
margin-top: 30px;
margin-left: -180px;
}