.header {
  //margin: 40px 165px;
  min-width: 100%;
  padding-top: 40px;
}

.header__child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-hamburger__btn {
  display: none;
}

.header__child-div {
  display: flex;
  gap: 64.34px;
  align-items: center;
}

.header-logo {
  top: 5.76px;
  left: 0.76px;
  gap: 0px;
  opacity: 0px;
}

.header-nav {
  display: flex;
  gap: 40px;
}

.header-nav__link {
  width: 51px;
  height: 18px;
  top: 16px;
  left: 199px;
  gap: 0px;
  opacity: 0.7px;
  font-family: Public Sans;
  font-size: 15px;
  font-weight: 700;
  line-height: 17.63px;
  text-align: left;
  color: #36536b;
}

.header-btn {
  width: 173px;
  height: 48px;
  left: 937px;
  gap: 0px;
  opacity: 0px;
  font-family: Public Sans;
  font-size: 15px;
  font-weight: 700;
  line-height: 17.63px;
  letter-spacing: -0.11538461595773697px;
  text-align: left;
  background: #ba4270;
  color: #fbfcfe;
  text-align: center;
  border-radius: 26px;
  border: none;
  transition: all 0.3s;

  &:hover {
    color: #ba4270;
  background: #fbfcfe;
  border: 1px solid #ba4270;
  }
}

@media (max-width:686px) {
    .header-nav, .header-btn {
        display: none;
    }

    .header-hamburger__btn {
        display: block;
        width: 24px;
    }
}