.site__mug-text {
    Width: 120px;
  Height: 18px;
  Top: 0px;
  Left: 0px;
  Font: Karla;
  Font-weight: 400;
  Font-size: 12px;
  Letter-spacing: 2px;
  margin-left: 410px;
  margin-bottom: 100px;
  }
  
  .site__mug-child{
    display: flex;
    gap: 20px;
    text-align: center;
  }
  
  .site__mug-img {
    Width: 460px;
  Height: 540px;
  Top: 0px;
  Left: 0px;
  }
  
  .site__div-text {
    Width: 212px;
  Height: 30px;
  Top: 0px;
  Left: 0px;
  Font: Karla;
  Font-weight: 400;
  Font-size: 20px;
  Letter-spacing: 0%;
  text-align: center;
  margin-top: 35px;
  margin-left: 125px;
  }
  
  .site__div-p {
  Top: 610px;
  Left: 196px;
  Font: Karla;
  Font-weight: 400;
  Font-size: 16pxpx;
  Letter-spacing: 0%;
  }
  
  .site__div-color {
    Font: Karla;
  Font-weight: 400;
  Font-size: 19px;
  Letter-spacing: 0%;
  color: rgb(162, 95, 75);
  margin-left: 160px;
  margin-right: 5px;
  }
  
  